[Desktop Entry]
Actions=New;
Categories=System;TerminalEmulator;
Comment=A fast, cross-platform, OpenGL terminal emulator
Exec=alacritty
GenericName=Terminal
Icon=Alacritty
Name=Alacritty
StartupNotify=true
StartupWMClass=Alacritty
Terminal=false
TryExec=alacritty
Type=Application
X-Desktop-File-Install-Version=0.28
X-KDE-SubstituteUID=false
X-KDE-Username=

[Desktop Action New]
Exec=alacritty
Name=New Terminal
